.ng2-nouislide {
    background-color: #d5d5d5;
    border: 0;
    box-shadow: none;
    height: 2px;
    margin-top: 20px; }
    .ng2-nouislide .noUi-tooltip {
      background-color: #323232;
      border: 0;
      border-radius: 0;
      color: #fff;
      font-size: 9px;
      padding: 2px 4px; }
    .ng2-nouislide .noUi-connect {
      background-color: #00ad79;
      box-shadow: none; }
      .filter-primary .ng2-nouislide .noUi-connect {
        background-color: #323232; }
    .ng2-nouislide .noUi-handle {
      border: 0;
      border-radius: 50%;
      box-shadow: 0 0 2px rgba(50, 50, 50, 0.3);
      cursor: pointer;
      height: 17px;
      top: -8px;
      width: 17px; }
      .ng2-nouislide .noUi-handle:before, .ng2-nouislide .noUi-handle:after {
        display: none; }
      .ng2-nouislide .noUi-handle:after {
        background-color: #e1e1e1;
        display: block;
        border-radius: 50%;
        height: 7px;
        left: 5px;
        position: absolute;
        top: 5px;
        width: 7px; }