<div class="main-wrapper">
    <div class="main">
        <div class="main-inner">
            <div class="page-title">
                <div class="container">
                    <h1>
                        <span class="title">{{ category?.name | titlecase }}</span>
                    </h1>
                    <!-- /.page-title-actions -->
                </div>
                <!-- /.container-->
            </div>
            <!-- /.page-title -->
            <div class="container" style="min-height: 75vh;">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- /.listing-row -->
                        <div class="box">
                            <div class="box-inner">
                                <div class="box-title">
                                    <h2>Sub Categories</h2>
                                </div>
                                <!-- /.box-title -->
                                <div class="">
                                    <div class="extras-item" *ngFor="let cat of category?.children">
                                        <div class="row">
                                            <!-- /.col -->
                                            <div class="col-xs-12 col-sm-6 col-md-6">
                                                <div class="title">
                                                    <a [routerLink]="['/app/listing/list']"
                                                        [queryParams]="{ category: cat.id }">
                                                        <i class="fa fa-th-large"></i> &nbsp;&nbsp;
                                                        {{ cat.name | titlecase }}
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- /.col -->
                                            <!-- /.col -->
                                        </div>
                                        <!-- /.row -->
                                    </div>
                                    <!-- /.extras-item -->
                                </div>
                                <!-- /.extras -->
                            </div>
                            <!-- /.box-inner -->
                        </div>
                        <!-- /.box -->

                    </div>
                    <!-- /.col-* -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.main-inner -->
    </div>
    <!-- /.main -->
</div>