<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Forgot Password</h5>
          <form
            class="form-signin"
            [formGroup]="forgotForm"
            #lgForm="ngForm"
            (ngSubmit)="onSubmit()"
          >
            <div
              class="form-label-group"
              [ngClass]="{
                'has-danger':
                  f.email.invalid && (f.email.dirty || f.email.touched || lgForm.submitted),
                'has-success':
                  f.email.valid && (f.email.dirty || f.email.touched || lgForm.submitted)
              }"
            >
              <input
                type="email"
                id="inputEmail"
                formControlName="email"
                class="form-control"
                placeholder="Email address"
              />
              <label for="inputEmail">Email address</label>
              <!-- <control-messages
                [control]="f.email"
              ></control-messages> -->

              <div
                *ngIf="(f.email.dirty || f.email.touched || lgForm.submitted) && f.email.errors"
                class="help-block p-2"
              >
                <div style="color: red" *ngIf="f.email.errors.required">
                  Email is required
                </div>
                <div
                  style="color: red"
                  *ngIf="f.email.errors.invalidEmailAddress"
                >
                  Email is invalid
                </div>
              </div>
            </div>


            <button
              class="btn btn-lg btn-primary btn-block text-uppercase"
              type="submit"
            >
              Forgot Password
            </button>
            <hr class="my-4" />
            <div class="text-center">
              <a routerLink="/auth/login"
                >Back to Login</a
              >
            </div>
            <!-- <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button> -->
            <!-- <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> -->
          </form>


        </div>
      </div>
    </div>
  </div>
</div>
